input,
textarea {
    width: 80%;
    border-radius: 5px;
    height: 20px;
}

.heading {
    text-align: center;
}

.btn {
    width: 20%;
    border-radius: 5px;
    height: 25px;
    font-size: 15px;
}

.login {
    margin: 10px auto;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 23px;
}

.footer {
    border: 2px solid blue;
    width: 100%;
    margin: auto;
    padding: 10px;
    height: 100px;
    text-align: center;
    background-color: gray;
}